.expertise-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
  }
  
  .text-content {
    flex: 1;
    padding-right: 20px;
    text-align: center;
  }
  
  .text-content .icon {
    width: 42px;
    height: 42px;
    margin-bottom: 10px;
  }
  
  .text-content h2 {
    font-size: 22px;
    color: #4A4A4A;
    font-weight: normal;
  }
  
  .text-content p {
    font-size: 15px;
    color: #7A7A7A;
  }
  
  .image-content {
    flex: 1;
    display: flex;
    justify-content: flex-end; /* Ensures the image aligns to the end */
    align-items: center;
    padding: 0px; /* Remove padding */
    margin-right: -180px;
    
  }
  
  /* .image-content {
    width: 100%;
    height: auto;
    border-radius: 0px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    object-fit: cover; /* Ensures the image covers its container */
   */
    .expertise-image {
        width: 100%;
        height: auto;
        border-radius: 0px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        object-fit: cover; /* Ensures the image covers its container */
    }